.channelrow{
    display: flex;
    align-items: center;
    width: 70%;
}

.channelrow_info{
    display: flex;
    flex-direction: column;
}

.channelrow_info > p {
    color: #606060;
    font-size: small !important;
}

.channelrow_info_logo{
    height: 120px !important;
    width:  120px !important;
    margin: 10px 60px;
}

.channelrow_info > h4 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.subscribe{
    display: flex;
    border-radius: 2px;
    padding-left: 50px;
}

.subscribe_button{
    background-color: red;
    margin-left: 30px;
}